<div class="container">
	<h2>New Course</h2>
	<div class="form">
	<form #courseForm="ngForm" (ngSubmit)="save(courseForm.value)">
	  <div class="form-group">
	    <label for="name">Name</label>
	    <input type="text" class="form-control" id="name" name="name" ngModel>
	  </div>
	  <div class="form-group">
	    <label for="code">Code</label>
	    <input type="text" class="form-control" id="code" name="code" ngModel>
	  </div>
	  <button type="submit" class="btn btn-primary">Save</button>
	</form>
</div>
</div>